@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
header div {
	float: right;
	margin: 15px 0;
	text-align: center;
	height: 40px;
	width: 40px;
	border-radius: 50%; 
	background-color: #cccccc; 
}
div.available {
	background-color: #ff545f;
}
